<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style/forms.css" />
    <link rel="stylesheet" href="style/general.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans"
    />
    <title>Gestão Saúde</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="index.html" title="Gestão Saúde" class="nav_img">
          <img src="img/logo-removebg.png"
        /></a>
        <a> Sua Saude</a>
        <a> Atendimento</a>
        <a> Nossa Equipe</a>

        <a href="singup.html" class="login_itens"> Criar Conta</a>

        <a href="singin.html" class="login_itens"> Entrar</a>
        
        <a>
          <input type="range" min="0" max="255" step="1" id="colorPicker" onchange="changeColor(event)"
          size="10px">
        </a>
        
        <script>
          function changeColor(event) {
            var slider = event.target;
            var red = slider.value;
            var green = slider.value;
            var blue = slider.value;
            var color = 'rgb(' + red + ', ' + green + ', ' + blue + ')';
            document.body.style.backgroundColor = color;
          }
        </script>
        

      </nav>
    </header>

    <br />
    
      <div>
        <img id="image1" src="img/Mdica_PNG.png" alt="image" />
      </div>

      <div>
        <img id="image2" src="img/logo_g.png" alt="image" />
      </div>
   

    <footer>
      <p>TI0080 SGS</p>
    </footer>
  </body>
</html>
