<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Gestão Saúde</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style/forms.css" />
    <link rel="stylesheet" href="style/general.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans"
    />
  </head>

  <body>
    <header>
        <nav>
            <a href="index.html" title="Gestão Saúde" class="nav_img">
                <img src="img/logo-removebg.png"></a>
            <a>
                Sua Saude</a>
            <a>
                Atendimento</a>
            <a>
                Nossa Equipe</a>
            
            <a href="singup.html" class="login_itens"> 
                Criar Conta</a>

            <a href="singin.html" class="login_itens">
                Entrar</a>
        </nav>
    </header>

    <div class="login_form">
        <h1>Entrar</h1>
        <form>
            <input name="user_name" placeholder="usuario">
            <input name="user_password" placeholder="senha">
            <input type="submit">
        </form>
    </div>

    <footer>
        <p>
            TI0080 SGS
        </p>
    </footer>
   </body>
</html>
