<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Gestão Saúde</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style/general.css" />
    <link rel="stylesheet" href="style/userpage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans"
    />
    <script>
        function NigthMode(event) {
          var checked = document.getElementById("nigth_check").checked
          if(checked){
            var color = 'rgb(' + 125 + ', ' + 125 + ', ' + 125 + ')';
            document.body.style.backgroundColor = color;
          }else{
            var color = 'rgb(' + 255 + ', ' + 255 + ', ' + 255 + ')';
            document.body.style.backgroundColor = color;
          }
        }
        function aumentarTamanho() {
            var objeto = document.getElementById("header_index");
            var width = objeto.offsetWidth;
            var height = objeto.offsetHeight;
            //objeto.style.width = width + 10 + "px";
            objeto.style.height = height + 10 + "px";
            var texto = document.getElementById("header_text");
            var fontSize = parseInt(window.getComputedStyle(texto).fontSize);

            //objeto.style.width = (width + 10) + "px";
            objeto.style.height = (height + 10) + "px";
            texto.style.fontSize = (fontSize + 2) + "px";
        }

        function diminuirTamanho() {
            var objeto = document.getElementById("header_index");
            var width = objeto.offsetWidth;
            var height = objeto.offsetHeight;
            //objeto.style.width = width - 10 + "px";
            objeto.style.height = height - 10 + "px";
            var texto = document.getElementById("header_text");
            var fontSize = parseInt(window.getComputedStyle(texto).fontSize);
            //objeto.style.width = (width - 10) + "px";
            objeto.style.height = (height - 10) + "px";
            texto.style.fontSize = (fontSize - 2) + "px";
        }
    </script>
    
  </head>

  <body>
    <header id="header_index">
        <nav id="header_text">
            <a href="index.html" title="Gestão Saúde" class="nav_img nav_element">
              <img src="img/logo-removebg.png" alt="system logo"/>
            </a>
            <a class="nav_element"> Sua Saude</a>
            <a class="nav_element"> Atendimento</a>
            <a class="nav_element"> Nossa Equipe</a>
    
            <div class="nav_slide_element">
              <input id="nigth_check" class="apple-switch" type="checkbox" onclick="NigthMode(event)">
            </div>
            <a href="singup.html" class="nav_element login_itens"> Criar Conta</a>
    
            <a href="singin.html" class="nav_element login_itens"> Entrar</a>

            <a class="nav_element login_itens" onclick="aumentarTamanho()">
                <i class="fa fa-search-plus" style="font-size: 24px"></i>
              </a>
              <a class="nav_element login_itens" onclick="diminuirTamanho()">
                <i class="fa fa-search-minus" style="font-size: 24px"></i>
              </a>
        
              <a class="social_icons nav_element login_itens">
                <i class="fa fa-facebook" style="font-size: 24px"></i>
              </a>
              <a class="social_icons nav_element login_itens">
                <i class="fa fa-twitter" style="font-size: 24px"></i>
              </a>
              <a class="social_icons nav_element login_itens">
                <i class="fa fa-google" style="font-size: 24px"></i>
              </a>
    
          </nav>
    </header>

    <div class="menu_lat">
        <div class="menu_lat_item">
            Dados Pessoais
        </div>
        <div class="menu_lat_item">
            Minhas Consultas
        </div>
        <div class="menu_lat_item">
            Meu Histórico
        </div>
    </div>

    <div class="user_data_space">
        <table class="user_info">
            <tr>
                <td>NOME</td>
                <td colspan="3"> FULANO DE TAL</td>
            </tr>
            <tr>
                <td>Identidade</td>
                <td>xxxxxxxxxx-x</td>
                <td>CPF</td>
                <td>xxx.xxx.xxx-xx</td>
            </tr>
            <tr>
                <td>Rua</td>
                <td>Av. X</td>
                <td>Numero</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>E. Civil</td>
                <td>Solteiro</td>
                <td>T. Sanguineo</td>
                <td>ABO</td>
            </tr>
        </table>

        <table class="user_cons">
            <tr>
                <td>NOME</td>
                <td colspan="3"> FULANO DE TAL</td>
            </tr>
            <tr>
                <td>Identidade</td>
                <td>xxxxxxxxxx-x</td>
                <td>CPF</td>
                <td>xxx.xxx.xxx-xx</td>
            </tr>
            <tr>
                <td>Rua</td>
                <td>Av. X</td>
                <td>Numero</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>E. Civil</td>
                <td>Casado</td>
                <td>T. Sanguineo</td>
                <td>ABO</td>
            </tr>
        </table>

        <table class="user_hist">
            <tr>
                <td>DATA</td>
                <td>EXAME</td>
                <td>MEDICO</td>
            </tr>
            <tr>
                <td>DATA 1</td>
                <td>EXAME 1</td>
                <td>MEDICO 1</td>
            </tr>
            <tr>
                <td>DATA 2</td>
                <td>EXAME 2</td>
                <td>MEDICO 2</td>
            </tr>
            <tr>
                <td>DATA 3</td>
                <td>EXAME 3</td>
                <td>MEDICO 3</td>
            </tr>
        </table>

    </div>

    <footer>
        <p>
            TI0080-SGS
        </p>
    </footer>
   </body>
</html>
