<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Gestão Saúde</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style/general.css" />
    <link rel="stylesheet" href="style/userpage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans"
    />
  </head>

  <body>
    <header>
        <nav>
            <a href="index.html" title="Gestão Saúde" class="nav_img">
                <img src="img/logo-removebg.png"></a>
            <a>
                Sua Saude</a>
            <a>
                Atendimento</a>
            <a>
                Nossa Equipe</a>
            
            <a href="singup.html" class="login_itens"> 
                Criar Conta</a>

            <a href="singin.html" class="login_itens">
                Entrar</a>
        </nav>
    </header>

    <div class="menu_lat">
        <div class="menu_lat_item">
            Dados Pessoais
        </div>
        <div class="menu_lat_item">
            Minhas Consultas
        </div>
        <div class="menu_lat_item">
            Meu Histórico
        </div>
    </div>

    <div class="user_data_space">
        <table class="user_info">
            <tr>
                <td>NOME</td>
                <td> FULANO DE TAL</td>
            </tr>
            <tr>
                <td>Identidade</td>
                <td>xxxxxxxxxx-x</td>
                <td>CPF</td>
                <td>xxx.xxx.xxx-xx</td>
            </tr>
            <tr>
                <td>Rua</td>
                <td>Av. X</td>
                <td>Numero</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>E. Civil</td>
                <td>Solteiro</td>
                <td>T. Sanguineo</td>
                <td>ABO</td>
            </tr>
        </table>

        <table class="user_cons">
            <tr>
                <td>NOME</td>
                <td> FULANO DE TAL</td>
            </tr>
            <tr>
                <td>Identidade</td>
                <td>xxxxxxxxxx-x</td>
                <td>CPF</td>
                <td>xxx.xxx.xxx-xx</td>
            </tr>
            <tr>
                <td>Rua</td>
                <td>Av. X</td>
                <td>Numero</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>E. Civil</td>
                <td>Casado</td>
                <td>T. Sanguineo</td>
                <td>ABO</td>
            </tr>
        </table>

        <table class="user_hist">
            <tr>
                <td>DATA</td>
                <td>EXAME</td>
                <td>MEDICO</td>
            </tr>
            <tr>
                <td>DATA 1</td>
                <td>EXAME 1</td>
                <td>MEDICO 1</td>
            </tr>
            <tr>
                <td>DATA 2</td>
                <td>EXAME 2</td>
                <td>MEDICO 2</td>
            </tr>
            <tr>
                <td>DATA 3</td>
                <td>EXAME 3</td>
                <td>MEDICO 3</td>
            </tr>
        </table>

    </div>

    <footer>
        <p>
            TI0080-SGS
        </p>
    </footer>
   </body>
</html>
