/* RESET */
* {
  margin: 1px 1px 1px 1px; padding: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;  box-sizing: border-box; border:none;
  outline: none;
  }

img {max-width:100%;}
ul{list-style: none;}
a {text-decoration:none;}
h2 {font-size: 1.5em; color: aqua;}
p {font-size: 1em; color: blueviolet;}


/* Header */
.cab 
{
    width: 100%; float: left;
    padding: 25px 25px 25px 25px;
    background-color: #aaa;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.logo a 
{
  width: 108px; height: 104px; float: left;
  background: url(../img/logo.png) no-repeat; font-size: 0;
}

.cab form 
{ 
  width: 30%; float: right; padding: 15px 15px 15px 15px;
}

.cab input[type="text"]{
  width: 85%; float: right; padding:15px 15px 15px 15px;
  font-size: 12px;
}
.cab button {width: 15%; float: right; padding: 15px 15px 15px 15px;}


/* MENU */

.menu { 
  width: 100%; float: left;
  background-color: pink;
  margin: 10px 10px 10px 10px;
  font-size: 12px;
}

.menu li { float: left;}
.menu li a {color:darkgreen; margin-right: 25px;}
.menu li a:hover {color:goldenrod;}

/* SOCIAL ICONS */
.social-icons { float: right;}
.social-icons a {color:blue; float: left; margin-left: 12px; margin-right: 12px;}
.btn-facebook:hover { color:goldenrod;}
.btn-twitter:hover { color:goldenrod;}
.btn-google:hover { color:goldenrod;}

.images{
  float: left;
}

.hidden-menu {
  display: none;
}

#menu-title:hover + .hidden-menu {
  display: block;
  
}

#menu-title{
  display: list-item;
}

li .li-sec{
  float: inline-start;
}


