<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="style/forms.css" />
  <link rel="stylesheet" href="style/general.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
  <script src="main.js"></script>
  <title>Gestão Saúde</title>  

</head>

<body>
  <header id="header_index">
    <nav id="header_text">
      <a href="index.html" title="Gestão Saúde" class="nav_img nav_element">
        <img src="img/logo-removebg.png" alt="system logo" />
      </a>
      <a class="nav_element"> Marcar Exame</a>
      <a class="nav_element"> Desmarcar Exame</a>
      <a class="nav_element"> Resultados de Exames</a>

    </nav>

  </header>


  <footer>
    <p>TI0080 SGS</p>
    <a class="social_icons nav_element login_itens">
      <i class="fa fa-facebook" style="font-size: 24px"></i>
    </a>
    <a class="social_icons nav_element login_itens">
      <i class="fa fa-twitter" style="font-size: 24px"></i>
    </a>
    <a class="social_icons nav_element login_itens">
      <i class="fa fa-google" style="font-size: 24px"></i>
    </a>
  </footer>
</body>

</html>