{{{body}}}
    <main>
        <div class="form form_c color_sch_d color_sch_form" >
            <h1>Criar Conta</h1>
            <h2>Dados Basicos</h2>
            <form action="/add_user" method="POST">
                Nome
                <input class="color_sch_border" type="text" name="nome" placeholder="nome">
                Data de Nascimento
                <input class="color_sch_border" type="date" name="data">
                Endereço
                <input class="color_sch_border" type="text" name="addr">
                Numero
                <input class="color_sch_border" type="text" name="numb">
                Telefone
                <input class="color_sch_border" type="text" name="phone">
                Email
                <input class="color_sch_border" type="email" name="mail" placeholder="email">
                Tipo de Usuário
                <input class="color_sch_border" type="text" name="user_type" placeholder="nome">
                Tipo de Plano
                <input class="color_sch_border" type="text" name="usr_plan">
                Digite a Senha
                <input class="color_sch_border" type="password" name="password" placeholder="nova senha">
                Repita a senha
                <input class="color_sch_border" type="password" placeholder="repita a senha">
                <input class="color_sch_border" type="submit" value="Enviar">
            </form>
        </div>
    </main>