{{{body}}}
<main>
    <div class="form form_c color_sch_d color_sch_form">
        <h1>Registrar Exame</h1>
        <form action="/add_exam" method="POST">
            Data do Exame
            <input class="color_sch_border" type="date" name="data_exame">
            Descrição do Exame
            <input class="color_sch_border" type="text" name="descricao_exame" placeholder="descrição do exame">
            Local do Exame
            <input class="color_sch_border" type="text" name="local_do_exame" placeholder="local do exame">
            Nome do Paciente
            <input class="color_sch_border" type="text" name="nome_paciente" placeholder="nome do paciente">

            <input class="color_sch_border" type="submit" value="Enviar">
        </form>
    </div>
</main>
