{{{body}}}
<main>
    <div class="form form_c color_sch_d color_sch_form">
        <h1>Marcar Consulta</h1>
        <form action="/add_consulta" method="POST">
            ID da Consulta
            <input class="color_sch_border" type="text" name="id" placeholder="ID da consulta">
            Data da Consulta
            <input class="color_sch_border" type="date" name="data_consulta">
            Paciente
            <input class="color_sch_border" type="text" name="paciente" placeholder="nome do paciente">
            Local da Consulta
            <input class="color_sch_border" type="text" name="local_consulta" placeholder="local da consulta">
            Médico
            <input class="color_sch_border" type="text" name="medico" placeholder="nome do médico">

            <input class="color_sch_border" type="submit" value="Enviar">
        </form>
    </div>
</main>
