{{{body}}}
    <br />
    <main>
        <h1>NEWS</h1>
        <article class="home_content">
            <h1>{{{json.notice}}}</h1>
            <p>
                {{{json.text}}}
            </p>
        </article>
    </main>