{{{body}}}
    <br />
    <main>
        <h1>NEWS</h1>
        <article class="home_content">
            <h1></h1>
            <p>

            </p>
            <img class="home_image_content" id="image2" src="images/logo_g_sf.png" alt="image" />
        </article>
        <article class="home_content">
            <img class="home_image_content" id="image1" src="images/Mdica_PNG.png" alt="image" />
        </article>
    </main>