{{{body}}}
    <main>
        <div class="form form_l color_sch_d color_sch_form">
            <h1>Entrar</h1>
            <form action="/auth" method="post">
                Usuario:
                <input class="color_sch_border" type="text" name="username" placeholder="usuario">
                Senha:
                <input class="color_sch_border" type="password" name="password" placeholder="senha">
                <input class="color_sch_border" type="submit" value="Enviar">
            </form>
        </div>
    </main>
    