{{{body}}}
<main>
    <div class="menu_container">
        <ul class="list_lat">
            <li class="list_item">
                <a href="#">Dados Pessoais</a>
            </li>
            <li class="list_item">
                <a href="#">Marcar Consulta</a>
            </li>
            <li class="list_item">
                <a href="#">Marcar Exame</a>
            </li>
            <li class="list_item">
                <a href="#">Fatura</a>
            </li>
        </ul>
        <span>Histórico</span>
        <ul class="list_lat">
            <li class="list_item">
                <a href="#">Consultas Realizadas</a>
            </li>
            <li class="list_item">
                <a href="#">Exames Realizados</a>
            </li>
        </ul>      

    </div>
    <div class="user_data_space">
        <table class="user_info">
            <tr>
                    <td>Nome Completo</td>
                    <td colspan="3"> FULANO DE TAL</td>
                </tr>
            <tr>
                <td>Identidade</td>
                <td>xxxxxxxxxx-x</td>
                <td>CPF</td>
                <td>xxx.xxx.xxx-xx</td>
            </tr>
            <tr>
                <td>Rua</td>
                <td>Av. X</td>
                <td>Numero</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>E. Civil</td>
                <td>Solteiro</td>
                <td>T. Sanguineo</td>
                <td>ABO</td>
            </tr>
        </table>

        <table class="user_cons">
            <tr>
                <td>NOME</td>
                <td colspan="3"> FULANO DE TAL</td>
            </tr>
            <tr>
                <td>Identidade</td>
                <td>xxxxxxxxxx-x</td>
                <td>CPF</td>
                <td>xxx.xxx.xxx-xx</td>
            </tr>
            <tr>
                <td>Rua</td>
                <td>Av. X</td>
                <td>Numero</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>E. Civil</td>
                <td>Casado</td>
                <td>T. Sanguineo</td>
                <td>ABO</td>
            </tr>
        </table>

        <table class="user_hist">
            <tr>
                <td>DATA</td>
                <td>EXAME</td>
                <td>MEDICO</td>
            </tr>
            <tr>
                <td>DATA 1</td>
                <td>EXAME 1</td>
                <td>MEDICO 1</td>
            </tr>
            <tr>
                <td>DATA 2</td>
                <td>EXAME 2</td>
                <td>MEDICO 2</td>
            </tr>
            <tr>
                <td>DATA 3</td>
                <td>EXAME 3</td>
                <td>MEDICO 3</td>
            </tr>
        </table>

    </div>
</main>
